include LICENSE
include Makefile
include README.md
recursive-include docs *
recursive-include dashboard_src *
recursive-include sample_code *

prune docs/reference/generated
prune docs/_build
prune dashboard_src/node_modules