<html>
  <head>
    <title>bandicoot/viz</title>
    <script src="stuff/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="stuff/js/nested.js"></script>
    <link rel="stylesheet" type="text/css" href="stuff/demo_home.css">
    <link rel="stylesheet" type="text/css" href="http://bandicoot.mit.edu/stylesheets/app.css">
    <link rel="stylesheet" href="http://bandicoot.mit.edu/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://bandicoot.mit.edu/stylesheets/skeleton.css">
    $header_dump
  </head>
  <body>
    <div id="top">
      <div class="jumbotron">
	<div class="background-image"></div>
	<div class="container">
	  <h1>bandicoot/viz</h1>
	</div>
      </div>
    </div>
    <div id="content">
      <h2>Event timeline</h2>
      <iframe src="event_timeline/index.html" class="iframe_large" id="event_frame"></iframe>
      <h2>Network view</h2>
      <iframe src="network_view/index.html" class="iframe_large" id="network_frame/index.html"></iframe>
      <h2>Indicators</h2>
      $indicator_html
    </div>
  </body>
</html>
